# Ignore folders.
.storage
.cloud
.google.token
deps
tts
#www
ssl
custom_components

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
home-assistant.log
*.pem
*.db
*.conf
.spotify-token-cache
home-assistant_v2.db*

# Include lovelace
!*/lovelace*
